@import "tailwindcss";
@plugin "daisyui" 

/* Put your custom classes inside @layer components */
/* @layer components {

  .btn-accept {
    @apply px-5 py-2 rounded-md font-medium text-white 
    bg-gradient-to-r from-green-500 to-emerald-600 
    hover:from-green-600 hover:to-emerald-700 
    shadow-md hover:shadow-lg transition-all duration-300;
  }

  .btn-reject {
    @apply px-5 py-2 rounded-md font-medium text-white 
    bg-gradient-to-r from-red-500 to-rose-600 
    hover:from-red-600 hover:to-rose-700 
    shadow-md hover:shadow-lg transition-all duration-300;
  }

  .btn-interested {
    @apply px-5 py-2 rounded-md font-medium text-white
    bg-gradient-to-r from-indigo-500 to-purple-600
    hover:from-indigo-600 hover:to-purple-700
    shadow-md hover:shadow-lg transition-all duration-300;
  }

  .btn-ignore {
    @apply px-5 py-2 rounded-md font-medium text-white
    bg-gradient-to-r from-gray-500 to-slate-600
    hover:from-gray-600 hover:to-slate-700
    shadow-md hover:shadow-lg transition-all duration-300;
  }

} */